<div class="page-header">
  <h1>Shop directly from people around the world.</h1>
</div>

<div class="row">
  <div class="col-sm-3 text-center">
    <div class="img-holder">
      <!-- Listing #176140024 -->
      <img src="https://img1.etsystatic.com/041/0/7890628/il_340x270.636555473_ju2v.jpg" class="img-responsive">
      DIY Hollow Body Electric Guitar Kit
    </div>
  </div>
  <div class="col-sm-3">
    <div class="img-holder">
      <!-- Listing #244820198 -->
      <img src="https://img0.etsystatic.com/072/0/10496936/il_340x270.820034582_ijc3.jpg" class="img-responsive">
      Walnut Bowl
    </div>
  </div>
  <div class="col-sm-3">
    <div class="img-holder">
      <!-- Listing #86149658 -->
      <img src="https://img1.etsystatic.com/000/1/6260770/il_340x270.286302961.jpg" class="img-responsive">
      Wedding Umbrella
    </div>
  </div>
  <div class="col-sm-3">
    <div class="img-holder">
      <!-- Listing #116140608 -->
      <img src="https://img0.etsystatic.com/001/0/6659930/il_340x270.399914748_tbyt.jpg" class="img-responsive">
      Music Box - Custom Theme
    </div>
  </div>
</div>

<footer class='text-center'>
  <small>My estimate was 2 hours.  It actually took me 12 hours.</small>
</footer>
